<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>result1 페이지</title>
  </head>
  <body>
    <h1>실습1 폼 전송 완료</h1>
    <ul>
      <li>이름 :<span><%= name %></span></li>
      <li>성별 :<span><%= gender %></span></li>
      <li>생일 :<span><%= birthYear %></span>-<span><%= birthMonth %></span>-<span><%= birthDay %></span></li>
      <li>취미 :<span><%= hobby %></span></li>
    </ul>
  </body>
</html>
